/*dot means class selector*/
ul.nav-list {
	margin: 0;
	padding: 0;
}
.justify-center {
  justify-content: center;
  -webkit-justify-content: center;
}
.blue {
	color: blue;
}
.header {
	border-top: dashed 10px #403a3a;
	margin-bottom: 50px;
}
.nav {
	margin-top: 10px;/*not using percent, because height is dynamic*/
	margin-left: 0%;
}

.nav-list {
	border: 0px solid black;
	display: inline;
	padding: 5px;
}

.nav-element {
	margin: 20px;
	display: inline;
	list-style: none;
}
.title {
	color: 3f3a39;
	text-align: center;
}

h3.footer-sub.title {}
.logo {
     z-index: 2;
     width: 110px;
}
.footer-sub {
	font-size: 40pt;
	flex-shrink: 0; /*to prevent line wrapping*/
}
.button {
	color: white;
	border: 1px solid #ffffff;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	margin-top: 16px;
	background-color: 01fe80;
}
.button:hover {
	background-color: #93FFC9;
	color: #ffffff;
	cursor: pointer;
}
.circle {
	border-radius: 50%;
}
.main-img {
	margin-top: 30px;
	width: 500px;
	max-width: 85%;
	width: 45%;
	height: auto;
}
.main {
	text-transform: default;
	letter-spacing: default;
	font-size: 60px;
	color: 00ff9c;
	margin: 30;
	margin-bottom: 10;
}
.sub {
	font-size: 24px;
	margin-bottom: 50;
	margin-top:  -5px;
}
.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   	display: -ms-flexbox;  /* TWEENER - IE 10 */
   	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

   	align-items: center;
}
.other-sites {
	display: flex;
}
.img-link {
	width: 70;
	height: 70;
}
.img-link-large {
	width: 140;
	height: 140;
}
.column {
	flex-direction: column;
}
.footer {
	text-align: center;
	width:100%;
	margin-bottom: 2%;
}
.line {
	margin-left: 1%;
	margin-right: 1%;
	width: 100%;
	border-top: 2px solid #101010;
}
.main-wrapper {
	min-height: calc(100vh - 126px);
}
.titles {
	margin-top: 0%;
}
.img-wrapper {
	width: 60%;
}
.input-field {
	width: 80%;
	line-height: 2em;
	margin: 1%;
	padding: 4px;
	border-radius: 3px;
	border: 2px solid #101010;
}
.about-paragraph {
	margin-top: 15px;
}
@media (max-width: 481px) {
      .header {
        font-size: 14px;
      }
      .main {
      	font-size: 34px;
      }
      .sub {
      	font-size: 24px;
      }
      .footer-sub {
      	font-size: 18pt;
      }
      .img-wrapper {
      	width: 95%;
      }
}
@media (min-width: 481px) and (max-width: 630px) {
      .main {
      	font-size: 46px;
      }
      .sub {
      	font-size: 33px;
      }
      .footer-sub {
      	font-size: 28pt;
      }
      .img-wrapper {
      	width: 75%;
      }
}
@media (min-width: 630px) and (max-width: 767px) {
	.main {
      	font-size: 46px;
      }
      .sub {
      	font-size: 33px;
      }
      .footer-sub {
      	font-size: 28pt;
      }
      .img-wrapper {
      	width: 65%;
      }
}
body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 20;
	color: #101010;
	background-color: #ffffff;
}
a {
	color:#00ff9c;
	text-decoration: none;
}
a:hover {
	color:#93FFC9;
}
