/*dot means class selector*/
* {
	margin: 0;
	padding: 0;
}
.blue {
	color: blue;
}
.header {
	border-top: dashed 10px #000000;
	margin-bottom: 10px;
}
.nav {
	margin-top: 10px; /*not using percent, because height is dynamic*/
	margin-left: 10%;
}
.nav-element {
	display: inline;
	list-style: none;
}
.title {
	color: #006788;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.logo {
     z-index: 2;
     width: 110px;
}
.footer-sub {
	font-size: 40pt;
	flex-shrink: 0; /*to prevent line wrapping*/
}
.button {
	color: #8A00D9;
	border: 2px solid #000000;
	display: inline-block;
	padding: 2px 4px 2px 4px;
	font-size: 20px;
	margin-top: 0px;
}
.button:hover {
	background-color: #019cdb;
	color: #dfdfdf;
	cursor: pointer;
}
.circle {
	border-radius: 50%;
}
.main-img {
	margin-top: -35px;
	width: 500px;
}
.main {
	text-transform: default;
	letter-spacing: default;
	font-size: 70px;
	color: blue;
}
.sub {
	font-size: 50px;
}
.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   	display: -ms-flexbox;  /* TWEENER - IE 10 */
   	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

   	align-items: center;
}
.column {
	flex-direction: column;
}
.footer {
	text-align: center;
	width:100%;
	margin-bottom: 2%;
}
.line {
	margin-left: 1%;
	margin-right: 1%;
	width: 100%;
	border-top: 2px solid #101010;
}
.main-wrapper {
	min-height: calc(100vh - 126px);
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 20;
	color: #00008F;
	background-color: #00FF00;
}
a {
	color:#1F8A70;
	text-decoration: none;
}
a:hover {
	color:#FD7400;
}